/* tworzenie stylu dla linka */
.gridLessonContainer{
    margin: 10px;
    /* wersy */
    display: grid;
    /* rozciąganie kontenta na stronie */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 150px;
    gap: 5px;
}

.gridLessonContainer a {
    /* usuwa podkreślenie linku */
    text-decoration: none;
}

.gridLessonContainer div{
    display: flex;
    align-items: center;
    /* napis po środku */
    justify-content: center;
    /* utawienie kolorow tylko dla div */
    background-color: rgb(74, 112, 192);
    color: orange;
    height: 100%;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(11, 0, 0, 0.829); ;
}
.homework{
    background-color: rgba(231, 202, 158, 0.671) !important;
}

.gridLessonContainer div:hover{
    background-color: rgba(237, 177, 86, 0.671);
    color: rgb(74, 112, 192) ;

}
.homework:hover{
    background-color: rgba(132, 159, 205, 0.671) !important;
    color: rgb(83, 126, 212) !important;
}