.header {
  /* header zawsze zostaje na swojej pozycji, nie przemieszcza się */
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  color: white;
  background-color: orange;
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 0px 40px;
  border: 2px solid #000608;
  border-right: 2px solid #00bfff; /* Jasnoniebieska ramka */
  border-left: 2px solid #00bfff; /* Jasnoniebieska ramka */
}

.header a {
  color: rgb(3, 0, 0);
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
  text-decoration-color: #00bfff ;
}

/* класс модификатор, который добавляется к активной ссылке меню */
.linkActive {
  text-decoration: underline !important;
  
}